.page-link {
  border-color: rgb(220, 53, 69) !important;
  color: rgb(220, 53, 69) !important;
}

.activePage > .page-link,
.page-link.activePage {
  background-color: rgb(220, 53, 69) !important;
  color: white !important;
}
.small {
  padding: 0.25rem 0.5rem;
  font-size: 5.875rem !important;
  border-radius: 0.25rem;
}
