.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

@media (max-width: 767px) {
  .card img {
    height: 600px !important;
  }
}
@media (max-width: 991px) {
  .card img {
    height: 400px !important;
  }
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #393839;
}

.card:hover .card-overlay {
  opacity: 0.8;
}
.overlay-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
